
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    
    background-color: #EBB230;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    justify-content: center;
}

.container-body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.recipe-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
    flex-wrap: wrap;
}

.recipe {
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.recipe img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}


nav {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;;
    gap: 200px;
    margin-right: 50px;
    
}


a {
    margin-top: 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    color: #4D433A;
}
.container-nav img{
    width: 100px;
    height: auto;
    border-radius: 100%;
}



footer {
    background-color: #4d433a; 
    color: #fff; 
    padding: 20px 0;
    text-align: center;
}

.footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; 
}

.footer-links ul {
    list-style: none;
    padding: 0; 
}


.footer-links ul li a {
    color: #fff; 
    text-decoration: none; 
}

.footer-links ul li a:hover {
    text-decoration: underline; 
}

.contact-info {
    margin-bottom: 20px; 
}

.contact-info p {
    margin: 5px 0; 
}

.contact-info p a {
    color: #fff; 
}

.contact-info p a:hover {
    text-decoration: underline; 
}

.copyright {
    font-size: 14px; 
}

.Tittle{
    text-align: center;
    padding: 25px;
    text-transform: capitalize;
}